.odd {
    background-color: pink;
    font-family:"Verdana", "DejaVu Sans", "sans-serif";
}

#second {
    color: blue;
    font-size: 36px;
}

.normal-font-size {
    font-size: 24px;
}

#forth {
    background-color: lightgreen;
    font-weight: bold;
}
